@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700;9..40,900&family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

}
.icon{
    width: 20px;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2rem;
    margin-top: 5rem;
}
.add-new{
    background-color: rgba(0, 128, 0, 0.4);
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.4rem;
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.add-task{
    margin: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    
    gap: 1rem;
}

.task-input{
    width: 50%;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
label{
   width: 12%;
    font-weight: bold;
}
.task-input input{
   border: none;
  
   background-color: transparent;
   width: 100%;
   outline: none;
}
.task-input select{
    border: none;
   
    background-color: transparent;
    width: 100%;
    outline: none;
 }
.boards {
    width: 80%;
    display: grid;
    place-items: start;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
}
.board{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    border-radius: 1rem;
}

.bg-green{
    background-color: rgba(0, 244, 0, 0.2);
}
.bg-red{
    background-color: rgba(255, 0, 0, 0.2)
}

.bg-yellow{
    background-color: rgba(0, 0, 255, 0.2)
}

.dragging{
    border: 3px dotted rgba(128, 128, 128, 0.9);
}

.tasks{
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.task{
    transform: translateX(-500px);
    overflow: hidden;
    transition: transform 0.8s ease-in;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.132);
    padding: 0.9rem;
    border-radius: 0.6rem;
    cursor: pointer;
}
.task-title{
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: capitalize;
    color: rgba(128, 128, 128, 9);
}
.task-info-actions{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.task-info{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.task-prio{
    width: fit-content;
    text-align: center;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.task-due{
    color: rgba(128, 128, 128, 9);
    font-weight: bold;

}

.red{
    background-color: rgba(255, 0, 0, 0.5);
}

.green{
    background-color: rgba(0, 128, 0, 0.4);
}

.yellow{
    background-color: rgba(255, 255, 0, 0.5);
}


.task-actions{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon{
    width: 20px;
    
}
.edit-icon{
    background: rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}
.del-icon{
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}



.completed{
text-decoration: line-through;
}

  
.show-animation {
    transform: translateX(0);
  }


.notification{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    position: absolute;
    right: 0;
    
    top: 0;
    margin: 4rem;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 1rem;
    transform: translateX(900px);
    transition: transform 1s ease-in;
    width: 15%;
    justify-content: space-evenly;
    border-radius: 6px;
    
  }


.show-notification{
    transform: translateX(0);
    
   
}
@media only screen and (max-width: 767px) {
    .boards{
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        place-content: center;
        margin-bottom: 10rem;
    }
    
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .boards{
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        place-content: center;
        margin-bottom: 10rem;
    }
  }
  